.faction-card {
    background-color: tomato;
    width: 300px;
}

.faction-card:hover:not(.disabled) {
    background-color: aliceblue;
}

.faction-card.selected {
    background-color: yellowgreen;
}

.faction-card.disabled {
    opacity: 0.5;
}
