.player-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Remove all defaut select style */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
}

select::-ms-expand {
    display: none;
}

.select {
    min-width: 5ch;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: 'select';
    align-items: center;
    margin-left: 10px;
    box-shadow: 2px 2px 2px black;
}

/* The arrow */
.select::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    pointer-events: none;
}

select,
.select:after {
    grid-area: select;
}
