.faction-container {
    flex-basis: 25%;
    justify-content: center;
    display: flex;
}

.faction-card {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 2px black;
    border: 2px dashed;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* No hover effect on touch screen */
@media (hover: hover) and (pointer: fine) {
    .faction-card:hover:not(.disabled) {
        background-color: #303030;
        cursor: pointer;
    }
}

.faction-card.selected {
    background-color: #2e2e2e;
    border: 2px solid;
    opacity: 1;
}

.faction-card.disabled {
    opacity: 0.2;
}

.faction-card .faction-header {
    flex-basis: 20%;
}

.faction-card .faction-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.faction-card .faction-content img {
    width: 100px;
    height: 100px;
}

.faction-card .faction-content h2 {
    flex-grow: 30%;
}

.faction-card .faction-footer {
    font-size: 12px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .faction-container {
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 650px) {
    .faction-container {
        flex-basis: 50%;
    }

    .faction-card {
        width: 150px;
        height: 150px;
    }

    .faction-card .faction-content img {
        width: 75px;
        height: 75px;
    }

    .faction-card .faction-header h1 {
        font-size: 15px;
    }
}
