@font-face {
    font-family: Quattrocento;
    src: url(assets/Quattrocento-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-text-color: #e0e0e0;
    --background-color: #1a2027;
    --accent-color: #aa4226;
}

body {
    background-color: var(--background-color);
    color: var(--default-text-color);
    font-family: Quattrocento;
    margin: 10px;
}

button {
    background-color: var(--accent-color);
    color: var(--default-text-color);
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
}

/* No hover effect on touch screen */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        cursor: pointer;
        border: 1px solid var(--default-text-color);
    }
}

button:active {
    box-shadow: 5px 5px 5px black;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    text-align: center;
    color: var(--accent-color);
}

.explanation {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.explanation ol {
    margin-left: 10px;
}

.explanation li {
    margin-left: 12px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    z-index: -1;
}
