@font-face {
    font-family: Quattrocento;
    src: url(assets/Quattrocento-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-text-color: #e0e0e0;
    --background-color: #1a2027;
}

body {
    background-color: var(--background-color);
    color: var(--default-text-color);
    font-family: Quattrocento;
    margin: 10px;
}

button {
    background-color: #fff;
    border: none;
    padding: 0.1em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header {
    text-align: center;
}

.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    z-index: -1;
}
