.extension-card {
    width: 300px;
    height: 30px;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-radius: 5px;
}

/* No hover effect on touch screen */
@media (hover: hover) and (pointer: fine) {
    .extension-card:hover:not(.disabled) {
        background-color: #303030;
        cursor: pointer;
    }
}

.extension-card.selected {
    background-color: #2e2e2e;
    border: 1px solid;
    border-color: rgb(63, 163, 32);
    opacity: 1;
}
