.extension-card {
    width: 400px;
    height: 50px;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 2px black;
    border: 2px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.extension-card:hover:not(.disabled) {
    background-color: #303030;
}

.extension-card.selected {
    background-color: #2e2e2e;
    border: 2px solid;
    border-color: rgb(63, 163, 32);
    opacity: 1;
}

.extension-card h2 {
}
